body {
  background: url('./img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.drawingPile {
  position: absolute;
  background: url('./img/card-cover.png');
  background-size: contain;
  top: 30%;
  left: 25%;
  height: 240px;
  width: 180px;
  border-radius: 20px;

}

.played-cards {
  position: absolute;
  top: 30%;
  left: 55%;
  height: 240px;
  width: 180px;
  border-radius: 20px;
  text-align: center;
  background: url('./img/placeyourcardhere.png');
  background-size: cover;
}

.dotted-border {
  border: 2px dashed white;
}

button {
  border-radius: 20px 20px 0 0;
  border: 1px solid black;
}

.player1 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 0;
}

.player2 {
  text-align: center;
  width:100%;
}

.player2 button {
  background: url('./img/card-cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70px;
  width: 50px;
  border-radius: 5px;

}

.player1 button {
  height: 150px;
  width: 200px;
  position: absolute;
  bottom:0;
  z-index: -1;
  text-align: left;
}

.player1Cards {
  width: 60%;
  border: solid  2px grey;
  margin: 0 auto;
  padding: 0;
  position: relative;
}



.explosive {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,0.85);
  border: 4px solid rgba(132,189,0,0.9);
  border-radius: 20px;
  text-align: center;
  display: none;
}

.gameOver{
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 90%;
  background: rgba(128,0,0,0.9);
  border: 4px solid rgba(255,223,0,0.9);
  text-align: center;
  font-size: 60px;
  display: none;
}

.gameOver h1 {
  margin: 0 auto;
  color: white;
}
.explosive h1 {
  color: white;
}

.explosive span {
  color: yellow;
}

.explosive-kitten {
  display: inline-flex;
  width: 150px;
  height: 200px;
  border-radius: 20px;
  margin: 20px;
  justify-content: center;
}

.explosive-meter {
  position: absolute;
  top: 30%;
  left: 11%;
  height: 200px;
  width: 200px;
  background: url('./img/bomb.png');
  background-size: cover;
  text-align: center;
  line-height: 200px;
  color: white;
}

.notice {
  position: absolute;
  top: 30%;
  right: 5%;
  height: 200px;
  width: 200px;
  background: url('./img/notice.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20px;

}

.avatar {
  float: right;
  height: 20px;
  width: 20px;
  border: 4px red solid;
}



#shuffle {
  background: url('./img/shuffle-cards.png');
  background-size: cover;
}

#skip {
  background: url('./img/skip-card.png');
  background-size: cover;
}

#see-the-future {
  background: url('./img/seethefuture-card.png');
  background-size: cover;
}

#draw-from-bottom {
  background: url('./img/drawfrombottom.png');
  background-size: cover;
}

#defuse {
  background: url('./img/defuse-card.png');
  background-size: cover;
}

#attack {
  background: url('./img/attack-card.png');
  background-size: cover;
}

#kitten {
  background: url('./img/kitten-card.png');
  background-size: cover;
}

#place-your-defuse {
  border: 2px white dashed;
  background: url('./img/place-your-defuse.png');
  background-size: cover;
  opacity: 0.8;
}

#avatar1 {
  background: url('./img/avatar1.png');
  background-size: cover;
  width: 300px;
  height: 300px;
}

#avatar2 {
  background: url('./img/avatar2.png');
  background-size: cover;
  width: 200px;
  height: 200px;
}

.player2Explosive {
  display:none;
  position: absolute;
  top: 0;
  left: 45%;
  width: 80px;
  height: 100px;
  background: url('./img/kitten-card.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  transform: rotate(20deg);
}

.logo {
  position: absolute;
  opacity: 0.5;
  width: 200px;
  height: auto;
}

#time {
  color: white;
  font-size: 72px;
  align-items: center;
}

.gameOver button {
  margin: 30px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  opacity: 0.8;
}
